.content{
    color: #fff;
}
.content h1{
    margin-top: 10px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}
.content h2{
    font-size: 2rem;
}
.content h3{
    font-size: 1.5rem;
}
.content p{
    margin-top: 10px;
    font-size: 1.2rem;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
.code_header{
    width: 100%;
    display: flex;
    align-items: start;
    height: 20px;
}
.code_header h2{
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    color: #c4c4c4;
    margin-left: 10px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background-color: #fff;

}
.content .code {
    margin-top: 10px;
    font-size: 1.2rem;
    background-color: #060A1B;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
pre{
    margin: 7px;
}
.code_content{
    background-color: #0e1432;
    padding: 10px;
    border-radius: 5px;
}
.content .code p{
    margin: 5px;
    font-size: 1rem;
}
.content .underline{
    text-decoration: underline;
}
.content .italic{
    font-style: italic;
}